::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

html,
body {
  font-family: $font-family;
  font-size: $font-12;

  overflow-x: hidden;
}

.container {
  @include container();
}
