::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $color-red;
}

html,
body {
  font-family: $font-family;
  font-size: $font-12;

  overflow-x: hidden;
}

.container {
  @include container();
}

.logo {
  @include flex();

  &:hover {
    cursor: pointer;
  }
}

.image {
  width: 100%;

  &__card {
    position: absolute;
    right: 0px;
    top: 5rem;

    width: fit-content;
    height: 80%;
  }
}
