::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $color-green;
}

html,
body {
  font-family: $font-family;
  font-size: $font-12;

  overflow-x: hidden;
}

.container {
  @include container();
}

.title {
  font-family: $font-family-2;
  font-size: $font-48;
}
