@keyframes glitch1 {
  0% {
    transform: none;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
  }
  10% {
    transform: none;
  }
  27% {
    transform: none;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
  }
  35% {
    transform: none;
  }
  52% {
    transform: none;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
  }
  50% {
    transform: none;
  }
  72% {
    transform: none;
  }
  75% {
    transform: skew(0.4deg, 1deg);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
