#svgScroll {
  position: fixed;
  top: 15%;
  left: 9.5%;

  width: 400px;
  height: 400px;

  z-index: -1;
  transform: scale(1.7);

  &-2 {
    position: fixed;
    bottom: 0;
    left: 10%;

    width: 150px;

    z-index: 10;
    transform: scale(2.5);
  }

  &-3 {
    position: fixed;
    top: 9%;
    right: 5%;
    height: 400px;

    z-index: 10;
    transform: scale(1.7);
  }
}

.line {
  padding: $p-1;
  border-bottom: 2px solid $color-red;
}
