@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin transition {
  transition: all 0.3s;
}

@mixin filter {
  filter: blur(4px);
}

@mixin container {
  max-width: 1280px;
  margin: 0 auto;

  background: $bg-container;
  background-size: 6px 6px;
}

@mixin selection {
  background-color: $color-red;
  color: $color-white;
}
