.parallax-1 {
  position: fixed;
  top: 2rem;
  left: 5%;
}

.parallax-2 {
  position: fixed;
  top: 40%;
  right: 2%;
}

.parallax-3 {
  position: fixed;
  bottom: -2%;
  right: 5%;

  transform: rotate(180deg);
}
