.title {
  padding: $p-1;

  font-family: $font-family-2;
  font-size: $font-48;
  font-weight: $font-w-300;

  text-align: center;
  line-height: 55px;

  transform: rotate(6deg);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px $primary-color;

  &-section {
    padding: $p-1;

    line-height: 30px;
    font-size: $font-24;
    text-align: center;
    color: $primary-color;
  }

  &-description {
    padding: 0 $p-0-5;

    font-size: $font-12;
    text-align: center;

    color: $color-gray;
    letter-spacing: 1px;
    line-height: 1.3;
  }

  &-badge {
    padding: $p-1;

    font-size: $font-18;
    text-align: center;

    &__new {
      color: $color-green;
    }

    &__old {
      font-size: $font-14;

      color: $color-gray;
      text-decoration: line-through;
    }
  }

  &-logo {
    @include transition();
    width: 100%;
    margin: 0;

    letter-spacing: 3px;
    color: $color-red-darken;

    font-family: $font-family-2;

    &:hover {
      color: $color-white;
    }
  }

  &,
  &-section,
  &-logo,
  &-description {
    &::selection {
      @include selection();
    }
  }
}

.fz30 {
  font-size: 30rem;
}
